@import "./normalize.css";
@import "./root.css";

.doctor-section {
    padding: 10vh 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor-link {
    margin: 15px;
    width: 500px;
    min-width: 500px;
}

.doctor {
    background-color: var(--color-white);
    border-color: var(--color-gold);
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    text-align: center;
    padding: 20px;
    transition-duration: 1.5s;
}

.doctor:hover {
    background-color: var(--color-gold-light);
}

.doctor-image {
    width: 80%;
}
