@import "./normalize.css";
@import "./root.css";

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.service {
    width: 50%;
    margin: 20px 0;
}

.service-item {
    display: flex;
    justify-content: space-between;
    border-bottom-color: var(--color-black);
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

.item-text, .item-price {
    font-size: 24px;
    margin-bottom: 0;
}

.item-price {
    margin-left: 20px;
}