@import "./normalize.css";
@import "./root.css";

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

header {
    background: var(--gold-gradient);
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--color-white);
}

.header-logo {
    width: var(--logo-size);
    height: var(--logo-size);
}

.menu a {
    font-size: 24px;
    letter-spacing: 1.6px;
    word-spacing: 6px;
    color: var(--color-black);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;

    margin-left: 30px;
    padding: 10px;
    border-radius: 15px;
}

.menu a:hover {
    background: var(--color-gold);
    transition-duration: 500ms;
}

.menu-bordered {
    border-style: solid;
    border-color: var(--color-gold);
    border-width: 2px;
}

.header-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

i {
    color: var(--color-black);
}

.contact-info {
    margin-left: 10px;
}

.contact-main-info {
    font-size: 16px;
    letter-spacing: 1.6px;
}

.contact-sub-info {
    font-size: 14px;
    color: var(--color-gray);
}

.instagram-link {
    text-decoration: none;
}

h1 {
    color: var(--color-gold-dark);
    font-size: 26px;
}

h2 {
    color: var(--color-black);
    font-size: 26px;
}

h3 {
    color: var(--color-black);
    font-size: 34px;
}

p {
    color: var(--color-black);
    font-size: 18px;
    text-align: justify;
}

.gold-line {
    height: 1vh;
    width: 100%;
    background: var(--gold-gradient);
}

footer {
    background: var(--gold-gradient);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    height: var(--logo-size);
}

.footer-info {
    display: flex;
}

.footer-column {
    margin: 10px 0 10px 30px;
}

.footer-column-title {
    font-size: 18px;
    color: var(--color-black);
    margin-bottom: 1vh;
}

.footer-column-cell {
    font-size: 14px;
    color: var(--color-brown);
    margin-bottom: 0.5vh;
}

.silver-line {
    height: 0.5vh;
    width: 100%;
    background: var(--silver-gradient);
}

.footer-copyright {
    color: var(--color-brown);
    text-align: center;
    padding: 1vh 0;
}

.main-info {
    padding: 0 20%;
}

.max-lines {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 9em;
    line-height: 1.8em;
}