@import "./normalize.css";
@import "./root.css";

.gallery {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.img-gallery {
    margin: 10px;
    width: 400px;
    height: 225px;
}
