/*@import "./normalize.css";*/
@import "./root.css";

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif*/
}

body, html {
    height: 100%;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

.aurum-logo-img {
    height: var(--logo-size);
    padding: 5px;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/main-photo.jpg");
    min-height: 100%;
}

.aurum-bar .aurum-button {
    padding: 16px;
}

.aurum-text-shadow {
    text-shadow: #2c2c36 2px 0 5px
}

@media (hover: hover) and (pointer: fine) {
    .aurum-hover-gold:hover {
        color: #000 !important;
        background-color: #ebc152 !important
    }
}

@media (max-width: 845px) {
    #logo {
        display: block; /* Для вирівнювання по центру */
        text-align: center;
    }

    #navButton {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
    }

}