/*@import "./normalize.css";*/
@import "./root.css";

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif*/
}

body, html {
    height: 100%;
    line-height: 1.8;
    scroll-behavior: smooth !important;
}

@media screen and (prefers-reduced-motion: reduce) {
    body, html {
        scroll-behavior: auto;
    }
}

a {
    text-decoration: none;
}

.aurum-logo-img {
    height: var(--logo-size);
    padding: 5px;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/main-photo.jpg");
    min-height: 100%;
}

.aurum-bar .aurum-button {
    padding: 16px;
}

.aurum-text-shadow {
    text-shadow: #2c2c36 2px 0 5px
}

@media (hover: hover) and (pointer: fine) {
    .aurum-hover-gold:hover {
        color: #000 !important;
        background-color: #ebc152 !important
    }
}

#logo {
    margin-left: 8px;
}

@media (max-width: 992px) {
    #logo {
        display: block; /* Для вирівнювання по центру */
        text-align: center;
    }

    #navButton {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
    }
}

.aurum-text-large {
    font-size: 18px;
}

.aurum-text-hover-gold {
    transition-duration: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
    .aurum-text-hover-gold:hover {
        color: #ebc152 !important;
        background-color: #fff !important
    }
}

.aurum-text-width-third {
    max-width: 400px;
    margin: 0 auto;
    padding: 18px 0;
}

#advertisement-list, #doctors-rows, #pricing-rows, #contacts-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pricing-rows {
    align-items: stretch;
}

#team-photo {
    margin-left: 24px;
    max-height: 400px;
}

@media (max-width: 992px) {
    .aurum-row-padding {
        flex-direction: column;
    }

    #team-photo {
        margin-left: 0;
    }
}

@media (min-width: 601px) {
    #doctors-rows {
        flex-direction: row;
        align-items: stretch;
    }

    .aurum-card-doctor {
        display: flex;
        flex-direction: column;
    }

    .aurum-container-doctor {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .aurum-doctor-description {
        flex-grow: 1;
    }

    .aurum-button-bottom {
        margin-top: 0;
    }

    #statistics-list, #gallery-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 993px) {
    .aurum-doctor-card {
        min-width: 446px;
    }

    .aurum-price-card {
        min-width: 44%;
    }

    #about-list {
        align-items: stretch;
    }
}

.aurum-digit-font {
    font-family: "Gill Sans", Arial, sans-serif;
}

#image-view-back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aurum-image-gallery {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    aspect-ratio: 1/1
}

.aurum-pricing-item {
    display: flex;
    justify-content: space-between;
    border-bottom-color: var(--color-black);
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    margin: 2em;
}

.aurum-item-text {
    margin: 0;
    text-align: left;
}

.aurum-item-price {
    margin: 0;
    padding-left: 1em;
}

.contacts-list-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contacts-list {
    align-items: center;
    flex-direction: row;
}

@media (min-width: 1283px) {
    .contacts-list-col {
        flex-direction: row;
    }

    .aurum-contact {
        justify-content: center;
    }
}

@media (max-width: 656px) {
    #contacts-list {
        flex-direction: column;
    }
}

@media (min-width: 657px) {
    .aurum-contact {
        height: 136px;
    }
}

.aurum-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
    width: 276px;
}

#phone-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 360px;
}

.anchor {
    position: absolute;
    transform: translateY(-50vh);
}

.aurum-footer-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.doctors-info-rows {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 601px) {
    #doctors-info-rows {
        flex-direction: row;
        align-items: stretch;
    }
}

/*.aurum-doctor-image-profile {*/
/*    max-width: 460px;*/
/*}*/