@import "./normalize.css";
@import "./root.css";

.main-image-section {
    background-image: url("../img/main-photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 80vh;
    max-height: 80%;
    min-height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-text {
    text-align: center;
    color: var(--color-white);
    font-size: 100px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition-duration: 1.5s;
}

.centered-text:hover {
    color: rgba(0, 0, 0, 0);
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.info-text {
    padding: 10vh 5%;
}

.info-image {
    width: 50%;
}

.appointment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: var(--gold-gradient);
}

.appointment-text {
    color: var(--color-black);
    font-size: 26px;
}

.appointment-button {
    margin-left: 40%;
    padding: 10px 0px;
    border-radius: 15px;
    color: var(--color-black);
    font-size: 26px;
    background: var(--color-silver-light);
    transition-duration: 1s;
}

.appointment-button:hover {
    background: var(--color-silver);
}

.appointment-link {
    padding: 10px 50px;
}

#map {
    height: 60vh;
    width: 100%;
}
